:root {
  --container-padding: 10px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

body {
  padding: 0 var(--container-padding);
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}

ol,
ul {
  padding-left: var(--container-padding);
}

body>*,
form>* {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}

*:focus {
  outline-color: var(--vscode-focusBorder) !important;
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

button {
  border: none;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  width: 100%;
  font-family: var(--vscode-font-family);
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type="checkbox"]),
select,
textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

input[type="checkbox"] {
  position: relative;
  box-sizing: content-box;
  height: 14px;
  appearance: none;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128, 0.7);
  padding: 0 4px;
}

input[type="checkbox"]:before {
  content: '';
  display: block;
  width: 4px;
  height: 9px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked:before {
  border-bottom-color: var(--vscode-button-background);
  border-right-color: var(--vscode-button-background);
}

.vscode-dark input[type="checkbox"]:checked:before {
  filter: brightness(1.3);
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

table {
  border: var(--default-border-size) solid var(--border);
}